#kanban-card-wrapper {
  background-color: white;
  height: 150px;
  border-radius: 20px;
  padding: 24px 20px 20px 20px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.150);
}

#kanban-card-wrapper > h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight:400
}


#kanban-card-wrapper > p {
  margin-bottom: 10px;
  color: #A1A1A1;
  height: 60px;
  word-wrap: break-word;
}

#kanban-card-wrapper > hr {
  margin-bottom: 10px;
  border: none;
  background-color: #EAEAEA;
  height: 1px;
} 

#badge-div {
  height: 40px;
  display: flex;
  align-items: center;
}

#badge-div > span {
  font-size: 11px;
  background-color: #E1F6FF;
  color: #2C62B4;
  padding: 6px;
  border-radius: 8px;
  font-weight: 600;
}